@font-face {
  font-family: 'Power Grotesk';
  src: url('/static/PowerGrotesk-Regular.ttf'); /* Update with your font file path */
}

body {
  font-family: 'Power Grotesk', sans-serif;
  background-color: black;
  color: white;
  margin: 0;
  padding: 0;
}

.video {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  background-color: #ff6600;
  padding: 1em;
  text-align: center;
}

.home-button {
  text-decoration: none;
  color: white;
  font-size: 1.5em;
}

h1, h2 {
  text-align: center;
  color: #ff6600;
}

form {
  text-align: center;
  margin: 2em;
}

label {
  display: block;
  margin-bottom: 0.5em;
}

input[type="text"] {
  padding: 0.5em;
  border: 1px solid #ff6600;
  border-radius: 5px;
  width: 50%;
  margin-bottom: 1em;
}

button[type="submit"] {
  background-color: #ff6600;
  color: white;
  padding: 0.8em 1.5em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  padding: 1em;
  border-bottom: 1px solid #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.vote-buttons {  /* New class to hold upvote/downvote */
  display: flex;
  align-items: center;
}

a {
  color: #ff6600;
  text-decoration: none;
  margin-left: 1em;
  font-size: 1.2em;
}