<!DOCTYPE html>
<html>
<head>
    <title>Suggestion Box</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <nav>
        <a class="home-button" href="/">rabbiteer</a>
      </nav>
      
      <h1>ornag box fixes</h1>
      <div class="video">
        <video autoplay loop muted>
          <source src="https://rabbit.lotofcarrots.com/media/home/os/rabbit-idle.mp4" type="video/mp4">
          Your browser does not support the video tag.
        </video>    
      </div>

    <form method="POST" action="/suggest">
        <label for="suggestion">new suggestion:</label>
        <input type="text" id="suggestion" name="suggestion" required>
        <button type="submit">Submit</button>
    </form>

    <h2>current suggestions</h2>
    <ul>
    {% for suggestion in suggestions %}
        <li>
            {{ suggestion.text }} 
            (Upvotes: {{ suggestion.upvotes }}, Downvotes: {{ suggestion.downvotes }})
            <div class="vote-buttons"> 
                <a href="{{ url_for('upvote', index=loop.index0) }}">👍</a> 
                <a href="{{ url_for('downvote', index=loop.index0) }}">👎</a>
            </div>
        </li>
    {% endfor %}
    </ul>
</body>
</html>